.paper-button {
  .paper-typography-button();
  display: inline-flex;
  align-items: center;
  margin: 0 4px;
  padding: 0 8px;
  height: 36px;
  min-width: 88px;
  cursor: default;
}

.paper-flat-button {
  .paper-button();
  transition: background .2s ease;
  outline: none;
  &:hover {
    background: fade(#999999, 20%);
  }
  &:active {
    .paper-ripple();
    background: fade(#999999, 40%);
  }
  &:focus:not(:active) {
    .paper-ripple('pulsing');
    background: fade(#999999, 40%);
  }
}

.paper-raised-button {
  .paper-button();
  .paper-shadow(1);
}

.paper-fab {

}
