/*
 TODO: move animations to the appropriate files.
 Waiting for less/less.js#1932 to be fixed.
*/

@-webkit-keyframes ripple {
  0% {
    background-size: 100%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    background-size: 160%;
    opacity: 0;
  }
}

@-webkit-keyframes ripple-pulsing {
  0%, 80%, 100% {
    background-size: 150%;
    opacity: 1;
  }
  40% {
    background-size: 160%;
  }
}
