@paper-ripple-defaults: {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px -1px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  //transition+: opacity .2s ease;
};

.paper-ripple() {
  position: relative;
  overflow: hidden;
  &:after {
    @paper-ripple-defaults();
    background: #000000;
    -webkit-animation: ripple .4s 1;
  }
}

.paper-ripple('pulsing') {
  position: relative;
  overflow: hidden;
  &:after {
    @paper-ripple-defaults();
    background: #ffffff;
    -webkit-animation: ripple-pulsing 3s infinite;
  }
}
